# Archivos de Dart/Flutter
.dart_tool/
.packages
.pub/
build/
pubspec.lock 

# Archivos generados por build_runner (freezed, json_serializable, etc.)
# Es una buena práctica no versionar estos archivos, ya que se pueden
# regenerar en cualquier momento con `dart run build_runner build`.
*.freezed.dart
*.g.dart

# VS Code
.vscode/
.history/

# SO
.DS_Store
Thumbs.db

# Archivos de logs o temporales
*.log
*.tmp
*.swp

# Archivos de cobertura de pruebas
coverage/
